beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
inflate64==1.0.0
multivolumefile==0.2.3
psutil==6.0.0
py7zr==0.22.0
pybcj==1.0.2
pycryptodome==3.20.0
pycryptodomex==3.20.0
pyppmd==1.1.0
PySide2==5.15.2.1
pyzstd==0.16.1
requests==2.32.3
shiboken2==5.15.2.1
soupsieve==2.6
texttable==1.7.0
urllib3==2.2.2
